extends layout

block content
  h1= title
  table
    thead
      tr
        th Date
        th User
        th Avatar
        th Text
    tbody
      each val in tweets
        tr
          th= val.date
          th= val.user.name
          th
            img(src=val.user.avatar)
          th= val.text
